*{
  box-sizing: border-box;
}
body{
    background: white;

    margin: 20px;
    padding: 10px;

}
.header, .footer{
    background: rgb(2, 2, 59);
    color: azure;
    padding: 15px;
  
}

.clearfix::after{
    content:"";
    clear:both;
    display: table;
}
.column{
    float: left;
    padding: 15px;
}
.menu{
    width: 25%;
    ;
}
.content{
    width: 75%;
    display: none;
    
    
}
.menu ul{
    list-style: none;
    margin: 0;
   padding: 0;
}
 .list{
    padding: 8px;
    margin-bottom: 8px;
    background: #33b5e5;
    color: #ffffff;
}
.menu li:hover{
    background: #0099cc;
}
.display{
    display: none;
}

.search input{
    float: right;
   
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 8px;

}
.menu .list.active {
    background: tomato;
    border: none;
    box-shadow: 1px 1px 1px 3px lightgrey; /* h-offset v-offset blur spread color*/
    border-radius: 6px;
}

.column.content.active{
    display: block;
}